%h1 Let's Create a New Reporter (Eventually)

%p.greeting= "Hello, #{current_user.name}!"

%h2 Reporter Info
%ul
  %li
    %b Name
    = @reporter.name
  %li
    %b Email
    = @reporter.email
  %li
    %b Username
    = @reporter.nickname

%h2= link_to 'Log Out', logout_url
