
%header
  %p= link_to 'Create New Complaint', new_complaint_path

%h2 Newest Complaints
%ul.complaints
  - @complaints.each do |complaint|
    %li
      %article
        %p= complaint.description
        %p= "Date of incident: #{complaint.date}"

        %ul.controls#index
          %ul= link_to 'Details', complaint
