%p#notice= notice

%h2= "Details of Complaint"
%article

  %ol.byline= "Date of incident: #{@complaint.date}"
  %ol.byline= "Location: #{@complaint.location}"
  %ol.byline= "Department: #{@complaint.department}"
  %ol.byline= "Description: #{@complaint.description}"


  - if @complaint.photo.attached?
    %figure
      = image_tag(@complaint.photo, {alt: 'photo'})
%ul.controls
  %li#back= link_to 'Back', complaints_path

%footer
