%p#notice= notice

%article
  %h3= "Details of Complaint"
  %p.byline= "Date: #{@complaint.date}"
  %p.byline= "Location: #{@complaint.location}"
  %p.byline= "Department: #{@complaint.department}"
  %p.byline= "Description: #{@complaint.description}"

  - if @complaint.photo.attached?
    %figure
      = image_tag(@complaint.photo, {alt: 'photo'})
  %ul.controls
    %li#back= link_to 'Back', complaints_path

%footer
